@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 700px;
  padding: 24px;
  background: #FFFFFF;
}

.ant-pagination-item,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  display: none;
}
